*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-wrapper{
    display: flex;
    max-width: 1500px;
    width: 100%;
}
/* header */

/* col-1 */
.col-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-1-overlay{
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-image: url(https://images.unsplash.com/photo-1623745494485-4a2633046f87?auto=format&fit=crop&q=80&w=1476&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.col-1-wrapper{
    max-width: 1500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-end;
}
.col-1-wrapper h1{
    color: rgb(236, 49, 49);
    font-size: 35px;
    padding-bottom: 3rem;
    padding-left: 1rem;
}
/* col-1 */

/* col-2 */
.col-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-2-wrapper{
    max-width: 1500px;
    width: 100%;
    display: grid;
  grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
    align-items: center;
   
    color: brown;
}
.first{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    flex-direction: column;
   
   
}
h4{
    font-size: 20px;
}
h2{
   font-size: 30px; 
}
    
.first form input:not(:last-child), textarea{
    padding: 15px 15px;
   min-width: 300px;
   margin-bottom: 1rem;
  background-color: rgb(200, 201, 201);
   box-shadow: 0 0 5px;
   border: none;
   outline: none;
   border-radius: 5px;
   margin-left: .2rem;
  
}
@media screen and (max-width: 700px){
    .first form input:not(:last-child), textarea{
        width: 100%;
        min-width: fit-content;
    }
}
.second{
   display: flex;
   flex-direction: column;

}
form{
    max-width: 800px;
   
   
}
textarea{
    width: 100%;
}
.submit{
    padding: 20px 20px;
    margin-left: 30%;
    width: 200px;
    background-color: brown;
    border: none;
    outline: none;
    margin-bottom: 1rem;
}
.submit:hover{
    background-color: rgb(150, 149, 149);
    transition: all .5s;
}
@media screen and (max-width: 450px){
    .submit{
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 1500px){
    .col-1-overlay, .col-1-wrapper{
        height: 200px;
    }
}
/* col-2 */