@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* header */

/* coll-1 */
.col-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-1-overlay{
    display: flex;
    max-width: 1500px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1697789344805-bc64b0874465?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.col-1-wrapper{
    display: flex;
    max-width: 1500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    background-size: cover;
    height: 200px;
    color: rgb(194, 194, 194);
    align-items: flex-end;
}
.col-1-wrapper h1{
    max-width: 450px;
    padding-left: 1rem;
    padding-bottom: 30px;
    color: brown;
}
/* coll-1 */

/* col-2 */
.col-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-2-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
   
}
.col-2-wrapper div{
    width: 400px;
    flex-grow: 1;
    padding: 0 1rem;
   align-self: center;
}
.col-2-wrapper div img{
   
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
/* col-2 */
/* col-3*/
.col-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-3-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
   
}
.col-3-wrapper div{
    width: 400px;
    flex-grow: 1;
    padding: 0 1rem;
   
}
.col-3-wrapper div img{
   
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
/* col-2 */
/* col-4*/
.col-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-4-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
   
}
.col-4-wrapper div{
    width: 400px;
    flex-grow: 1;
    padding: 0 1rem;
   
}
.col-4-wrapper div img{
   
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
/* col-4*/
/* col-5*/
.col-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-5-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
   
}
.col-5-wrapper div{
    width: 400px;
    flex-grow: 1;
    padding: 0 1rem;
   
}
.col-5-wrapper div img{
   
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
/* col-5*/
/* col-6*/
.col-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-6-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
   
}
.col-6-wrapper div{
    width: 400px;
    flex-grow: 1;
    padding: 0 1rem;
   
}
.col-6-wrapper div img{
   
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
/* col-6*/