
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:wght@500&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Nunito;
    font-size: 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#contact{
    scroll-behavior: smooth;

}
.top{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #334;
    z-index: 1000;
}
/* header */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* header */

/* col-1 */
.col-1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-1-wrapper{
    width: 100%;
    display: flex;
    height: 93vh;
    color: rgb(238, 42, 42);
    background-color: #000;
}
.col-1-wrapper h1{
    font-size: 50px;
}
.col-1-wrapper h1{
    font-size: 50px;
}


/* col-1 */

/* col-2 */
.col-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-2-wrapper{
    max-width: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    
    padding: 0 1rem;
}

.image-col-1 img{
    width: 100%;
    max-height: 500px;
}

.col-2-wrapper div:first-child{
    grid-column: 1/2;
    
}
.col-2-wrapper div p{
    line-height: 2rem;
}

.col-2-wrapper div:first-child{
    padding: 0 1rem;
}
@media screen and (max-width: 500px){
    .col-2-wrapper{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 0 .5rem
    }
    .col-2-wrapper div:first-child{
        padding: 0 .5rem;
    }
}


.col-2-wrapper strong{
    color: brown;
    font-size: medium;

}
.col-2-wrapper h2{
    color: darkorange;
    text-align: left;
}
/* col-2 */

/* col-3 form */
.col-3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-3-wrapper-overlay{
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1623762953813-54d2ec7e2f9c?auto=format&fit=crop&q=80&w=1476&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}
.col-3-wrapper{
    max-width: 1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    height: fit-content;

}
.col-3-wrapper form{
    margin: 2rem 0;
    max-width: 600px;
   box-shadow: 0 0 10px;
   background: rgba(94, 94, 94, 0.425);
   border-radius: 10px;
    text-align: center;
    color: #000;
    font-weight: 800;
    z-index: 2;
    
}
.col-3-wrapper form input:not(:last-child), textarea{
    padding: 10px 10px;
    background-color: transparent;
    outline: none;
    border: 1.3px solid black;
    border-radius: 5px;
    width: 80%;
}

.col-3-wrapper form input:not(:last-child):focus, textarea:focus{
    /* outline: 2px solid rgb(3, 209, 3); */
    border: none;
    background-color: rgba(242, 249, 255, 0.63);
}
.col-3-wrapper form textarea{
    margin: 0 .5rem;
    height: 150px;
}
.col-3-wrapper label{
    float: left;
    padding-left: 2rem;
}
/* col-3 form*/

/* col-4 */
.col-4{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-4-wrapper{
    max-width: 1500px;
    width: 100%;
    display: grid;
   display: flex;
   flex-wrap: wrap-reverse;
   flex-grow: 1;
    /* flex-direction: column; */
    gap: 1rem;
    padding: 0  1rem;
    line-height: 2rem;
  
}
.col-4-wrapper div{
    width: 500px;
    flex-grow: 1;
}
.col-4-wrapper div img{
    width: 100%;
    max-height: 500px;
    
}
.col-4-wrapper h2{color: darkorange;}
@media screen and (max-width: 990px){
   
}
/* col-4*/

/* col-6 */
.col-6{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.col-6-wrapper{
    max-width: 1500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    flex-grow: 1;
    gap: 1rem;
    padding:  1rem 3rem;
    line-height: 2rem;

}
@media screen and (max-width: 980px){
    .col-6-wrapper{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding:  1rem .5rem;
    }
}
@media screen and (max-width: 600px){
    .col-6-wrapper{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        padding:  1rem .5rem;
    }
}

.main-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 30px rgb(206, 204, 204);
    border-radius: 10px;
    display: none;
    padding: .5rem .5rem;

}
.main-card:nth-of-type(1),
.main-card:nth-of-type(2),
.main-card:nth-of-type(3),
.main-card:nth-of-type(4),
.main-card:nth-of-type(5),
.main-card:nth-of-type(6){
     display: block;
}
   
#load-more{
    margin-top: 20px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
  
  #load-more:hover{
    background-color: brown;
    border-color: crimson;
    color:#fff;
  }
.voir{
    margin-top: 20px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: darkorange;
    cursor: pointer;
    text-decoration: none;
  }
  
  .voir:hover{
    background-color: brown;
    border-color: crimson;
    color:#fff;
  }

.main-card div:nth-of-type(2){
    padding: 0 .5rem;
}
.main-card div h4{
    color: brown;
}
.main-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.voir{
    text-align: center;
}
@media screen and (max-width: 450px){

    .main-card div:nth-of-type(2) p{
        display: block;
    }

}

/* col-6 */

  /* col-7 */
  .col-7{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-7-wrapper{
    max-width: 1500px;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
    line-height: 2rem;
    
  }
  .col-7-wrapper h2{
    color: darkorange;
  }
  .col-7-wrapper img{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
  }
  .col-7-wrapper div{
    width: 500px;
    flex-grow: 1;
  }
  .bookbtn{
    font-size: 15px;
 padding: 1rem 1rem;
 color: #000;
 background-color: darkorange;
 width: fit-content;
 text-decoration: none;
 border-radius: 10px;
  }
  .bookbtn:hover{
    font-size: 15px;
 padding: 1rem 1rem;
 color: #000;
 background-color: rgb(134, 134, 133);
 width: fit-content;
 text-decoration: none;
 border-radius: 10px;
 transition: all .5s;
  }
  /* col-7 */

/* col-8 */
.col-8{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-8-wrapper h2{
    color: darkorange;
  }
  .col-8-wrapper{
    max-width: 1500px;
    width: 100%;
    padding: 0 1rem;
   display: flex;
   flex-wrap: wrap-reverse;
    flex-grow: 1;
    gap: 1rem;
  }
  .col-8-wrapper div{
    width: 300px;
    flex-grow: 1;
  }
/* col-8 */

/* footer */
.col-8-wrapper h2{
    color: darkorange
  }
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-wrapper{
    max-width: 1500px;
    width: 100%;
    padding: 0 1rem;
   display: flex;
   align-items: center;
   flex-wrap: wrap-reverse;
   flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    color: rgb(152, 152, 255);
    background-color: #000000;
  }
  .footer-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    gap: 1rem;
  }
/* footer */
